body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
   color: rgba(24, 144, 255, 1);
   background-color: rgba(24, 144, 255, 0.05) !important;
   padding: 2px 5px;
   border-radius: 3px;
   border: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-bottom: 0;
}
